[buildout]
extends =
    http://dist.plone.org/release/4.3.4/versions.cfg
    versions.cfg

index = http://devpi.imio.be/root/imio/+simple

find-links =
    http://dist.plone.org/release/4.3.4
    http://packages.communesplone.be/simple

unzip = true
versions = versions

parts =
    omelette
    instance

show-picked-versions = true
allow-picked-versions = true

package-name = troisponts.urban.dataimport
package-extras = [test]

eggs +=
    troisponts.urban.dataimport
    Pillow

# network speedup
socket-timeout = 3
allow-hosts =
    *.python.org
    *.plone.org
    docutils.sourceforge.net
    prdownloads.sourceforge.net
    effbot.org
    *imio.be


# ===============================================
# Mirrors python namespaces into one handy folder
# ===============================================
[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


# Create bin/instance command to manage Zope start up and shutdown
[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8081
zope-conf-additional =
  %define FILESTORAGE ${buildout:directory}/var/filestorage
  %define BLOBSTORAGE ${buildout:directory}/var/blobstorage
  %include ${buildout:directory}/zope_add.conf
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage
environment-vars =
    zope_i18n_compile_mo_files true

eggs =
    ${buildout:package-name}
    ${buildout:eggs}

zcml =
    ${buildout:package-name}
